In [10]:
# Importing libraries
import pandas as pd

In [11]:
# Loading original dataset
df = pd.read_csv("../data/raw/2019-Oct.csv", nrows= 500000)

df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [12]:
df.info()
df["event_type"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     500000 non-null  object
 1   event_type     500000 non-null  object
 2   product_id     500000 non-null  int64
 3   category_id    500000 non-null  int64
 4   category_code  341561 non-null  object
 5   brand          428149 non-null  object
 6   price          500000 non-null  float64
 7   user_id        500000 non-null  int64
 8   user_session   500000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 34.3+ MB

event_type
view        481833
purchase      9758
cart          8409
Name: count, dtype: int64

In [13]:
# Create working dataset
df = df[df["event_type"].isin(["view","cart","purchase"])]

df = df[[
    "user_id",
    "event_type",
    "event_time",
    "product_id",
    "category_code",
    "price"
]]

df.to_csv("../data/processed/funnel_events.csv", index=False)

df.head()

,user_id,event_type,event_time,product_id,category_code,price
0,541312140,view,2019-10-01 00:00:00 UTC,44600062,NaN,35.79
1,554748717,view,2019-10-01 00:00:00 UTC,3900821,appliances.environment.water_heater,33.20
2,519107250,view,2019-10-01 00:00:01 UTC,17200506,furniture.living_room.sofa,543.10
3,550050854,view,2019-10-01 00:00:01 UTC,1307067,computers.notebook,251.74
4,535871217,view,2019-10-01 00:00:04 UTC,1004237,electronics.smartphone,1081.98